# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Android
.gradle/
android/.gradle/
android/app/debug
android/app/profile
android/app/release

# Firebase
lib/firebase_options.dart
android/app/google-services.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# Logs / Temp
*.log
*.tmp
*.swp
.DS_Store