.dart_tool/
.packages
.pub/
build/

android/.gradle/
android/app/debug
android/app/profile
android/app/release

ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

lib/firebase_options.dart

*.log
*.tmp
*.swp
.DS_Store

.gradle/
android/.gradle/
build/